.hero {
  background-image: url('./pexels-blue-bird-7210716.jpg');
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: flex-start;
}

#Doge-Image {
  margin: 16px auto;
  object-fit: contain;
  width: 50%;
  
}
#Doge-Dropdown {
  margin: 10px auto;
  align-items: center;
  
}